PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://salim_db_user:rV2ZxcwvRqYrqviP@cluster0.5rt9xln.mongodb.net/?appName=Cluster0
JWT_SECRET=anylongrandomstringhere12345abcdef
JWT_EXPIRES_IN=30d
GITHUB_CLIENT_ID=Ov23liTy3vGPhhDkZJRY
GITHUB_CLIENT_SECRET=3ca3ae6f7231c91be1ba618ebdc89798907fecb0
GITHUB_REDIRECT_URI=http://localhost:3000/auth/github/callback
FRONTEND_URL=gitbattle://auth/callback
CACHE_TTL=300
SYNC_INTERVAL_MINUTES=15
